version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - restore_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
      - run:
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
          paths:
            - "venv"
      - run:
          name: Running tests
          command: |
            . venv/bin/activate
            python3 tests.py
      - run:
          name: Creating Dummy Artifacts
          command: |
            echo "my artifact file" > artifact-1;
            mkdir artifacts;
            echo "my artifact files in a dir" > artifacts/artifact-2;
      - store_artifacts:
          path: artifact-1
          destination: artifact-file
      - store_artifacts:
          path: artifacts
      - persist_to_workspace:
          root: /home/circleci/project
          paths:
            - artifacts
            - artifact-file
      - run:
          name: "Publish Release on GitHub"
          command: |
            PACKAGE=$(ls /**/*)
            ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete ${VERSION} $PACKAGE
